body{
font-family:Arial;
margin:0;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

.logo{
color:red;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

nav a:hover{
color:red;
}


.home{
display:flex;
align-items:center;
justify-content:space-around;
padding:80px;
}


#name{color:greenyellow
}


.image img{
width:300px;
border-radius:10px;
}

.section{
padding:60px;
border-bottom:1px solid gray;
}

h2{
color:red;
}

a{
color:#00bfff;
}

footer{
text-align:center;
padding:20px;
}